
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E4EAF2;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #0C2852;
  line-height: 1.7em;
}

h2 {
  font-size: 16px;
  font-weight: normal;

}

h3 {
  font-size: 15px;
  font-weight: bold;
}

h4 {
  font-size: 14.5px;
  font-weight: normal;

}

h5 {
  font-size: 14.5px;
  font-weight: bold;
  font-style: italic;

}

h6 {
  font-size: 13px;
  font-weight:lighter;
  font-style: italic;
}

nav {
  display: inline;
  float: left;
  margin: 0;
  width: 375px;
  height: 64px;
  padding-bottom: 320px;
  background-color: #D2DFF9;

}

nav h1 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 36px;
  padding-top: 15px;

}

ul li ul li {
  display: inline-block;
  margin-right: 15px;
  line-height: 30px;

}

ul {
  list-style-type: none

}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #4F86D7;
  margin: auto;

}

.arrow-left, h1 {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 5px;

}

.map {
  border-top: 3px solid #4F86D7;
  border-bottom: 3px solid #4F86D7;

}

.route-data {
  background-color: #D2DFF9;
  padding: 3px;
  border-bottom: 1px solid #91B2F2;
}

.arrow-right {
  float: right;
  margin right: 1px;
  margin-bottom: 5px;
}

.bus-number {
  background-color: #0C2852;
  color: #D2DFF9;
  padding: 4px;
  margin: 10px 3px 4px 4px;
  width: 40px;
  text-align: center;
  vertical-align: top;

}

.destination {
  width: 45%;
  line-height: 25px;
  margin-right: 10px;
  padding-left: 14px;
  padding-top: 5px;

}

.frequency {
  width: 25%;
  text-align: right;
  line-height: 23px;

}

.reroute {
  vertical-align: top;
  padding-right: 5px;

}

.alert {
  vertical-align: top;

}

.route-data:hover {
  background-color: #A6C1F7;
}
