
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E4EAF2;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #0C2852;
  line-height: 1.7em;
}

/* I need help with aligning and spacing of the route data */

/* for dividers I know I should be using some kind of border-box
but I don't understand how to implement it */

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 8px;

}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;

}

h5 {
  font-size: 15.5px;
  font-weight: lighter;
  font-style: italic;
  margin-left: 20px;

}

nav {
  display: inline;
  float: left;
  margin: 0;
  width: 375px;
  height: 64px;
  padding-bottom: 320px;
  background-color: #D2DFF9;

}

nav h1 {
  text-align: center;
  font-size: 18.5px;
  font-weight: bold;

}

ul li ul li {
  display: inline-block;

}

.container {
  margin: 0 auto;
  width: 375px;
  height: 667;
  background-color: #4F86D7;
  margin: auto;

}

.arrow-left {
}

.map {
  border-top: 3px solid #4F86D7;
  border-bottom: 3px solid #4F86D7;

}
.route-data {
  background-color: #D2DFF9;
  padding: 3px;
  border-bottom: 1px solid #91B2F2;

}

.arrow-right {

}
.bus-number {
  margin-left: 5px;
}

/*

.bus-number, .destination, .frequency, .direction, {

} */
